/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 0 30px;
    margin: 0 15px 15px 0;
    box-shadow: 9px 40px 101px -28px rgba(0,0,0,0.5);
        background-color: #f3f3f3;

}

span{
    text-align: center;
}
header{
    font-size: 3rem;
    padding: 15px;
}

.details-personal{
    display: grid;
    justify-items: center;
    row-gap: 50px;
    background-color: #f3f3f3;
}
.container header{
    font-size: 2rem;
    font-weight: 800;
    color: #333;
}
.container form{
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}
.container form .form{
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px;
    padding:8px;
}
.input-field label{
    font-size: 1rem;
    color: #2e2e2e;
}

.input-field input, select{
    outline: none;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
    border: 1px solid white;
    color: rgb(156 163 175);
    padding: 10px;
    margin: 8px 0;
}



.input-field input:focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.35);

}
.input-field select,
.input-field input[type="date"]{
    color: #707070;

}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #403c3c;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: black;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}
